* {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    background-color: #0f1111;
    color: white;
    height: 60px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo {
    height:50px;
    width: 110px;
    
    padding:1px 8px 0px 6px;
}

.logo {
    background-image: url(amazon\ logo.webp);
    background-size: cover;
    width:110px;
    height:50px;

}
.border{
    border: 1.5px solid transperent;
}
.border:hover {
    border:1.5px solid white;
}

/* box 2 */
.add-first {
    font-size: 0.75rem;;
    color:#cccccc;
    margin-left: 15px;
}

.add-sec {
    font-size: 0.9rem;
    margin-left:3px;
    font-weight: 700;
}
.add-icon {
    display: flex;
    align-items: center;
}
.nav-address{
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}


/* search bar */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:900px;
    height:40px;
    border-radius: 4px;
}
.search-select{
    width:50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align:center; 
    padding:0px 0px 0px 5px;
    border:none;
    background-color: #E6E6E6;
    color: #0f1111;
}
.search-input {
    width:100%;
    font-size: 0.9rem;
    padding: 7px 10px 10px 10px;
    border: none;
}
.cam {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:#0f1111;
    background-color:white;
    border:none;
}
.search {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:#0f1111;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange; 
}

/* box 4 accounts */
span {
    font-size: 0.75rem;

}
.nav-second {
    font-size: 0.9rem;
    font-weight: 700;
}

/* box 6 cart */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size:0.9rem;
    font-weight: 700;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-ops p {
    display: inline;
    margin-right: 10px;
}

.panel-ops{
    width: 80%;
    font-size:0.9rem;
}

.panel-shop {
    font-size: 0.9rem;
    font-weight:700;
}

/* Hero section */

.hero-section {
    background-image: url(hero\ image.jpg);
    background-size: cover;
    height:350px;
    display:flex;
    justify-content: center;
    align-items: end;
}
.hero-message {
    background-color: #f5f6f6;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-message a {
    color:#007185;
}

/* shop section */
.box{
    height:400px;
    /* border: 2px solid black; */
    padding: 20px 0px 15px;
    width:23%;
    background-color: white;
    margin-top:15px;
    
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #dce0df;
}

.box-img {
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;

}
.box-content p{
    font-size: 13px;
    color: #007185;
}

/* Footer */

footer {
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 30px;
}

ul p {
    font-weight: 700;
}

ul a {
    display: block;
    color:#dddddd;
    font-size: 0.9rem;
    margin-top: 10px;

}

/* panel 3 */

.foot-panel3 {
    background-color: #222f3d;
    color:white;
    border-top : 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url(amazon.png);
    background-size: cover;
    width:110px;
    height:50px;

}

/* panel 4 */

.foot-panel4 {
    background-color: #0f1111;
    height: 90px;
    color:#dddddd;
}

.pages {
    font-size: 0.7rem;
    text-align: center;
   padding-top: 20px;
}
.pages a{
    margin-left: 10px;
}

.copyright {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 8px;
}